*, *::before, *::after {
    box-sizing: content-box;
}

html {
    width: auto;
    height: auto;
    background-color: rgb(5, 43, 100);
    border: 3px solid #fff;
    padding: 12px;
    border-radius: 2px;
    overflow: hidden;
}

body {
    width:240px;
    height:300px;
    margin: 0;
    color:#fff;
}

.hidden {
    display:none;
}
#title{
    color:rgb(255, 205, 88);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}