*, *::before, *::after {
    box-sizing: border-box;
}

html {
    width: auto;
    height: auto;
    background-color: rgb(5, 43, 100);
    border: 3px solid #fff;
    padding: 12px;
    border-radius: 2px;
}

body {
    width:260px;
    height: 200px;
    margin: 0;
    color:#fff;
}

.hidden {
    display:none;
}
#title{
    display: flexbox;
    justify-content: center;
    align-items: baseline;
    color:rgb(255, 205, 88);
    font-family: "BBH Hegarty", sans-serif;
    font-size: xx-large;
}